@import "tailwindcss";

@theme {
  /*Custom Colors*/
  --color-white: #f4f4f4;
  --color-gray: #a5a5a5;
  --color-darkGray: #646464;
  --color-black: #111111;
  --color-purple: #533fe0;
  --color-pink: #af47d2;
  --color-orange: #fb773c;
  --color-yellow: #ffd35a;
}
:root {
  --background: var(--color-black);
  --foreground: var(--color-white);
  --font-size-base: 20px;
}

.bg-four-corners {
  background: linear-gradient(
    50deg,
    hsl(44deg 100% 68%) 0%,
    hsl(38deg 100% 65%) 6%,
    hsl(32deg 100% 63%) 13%,
    hsl(26deg 99% 62%) 21%,
    hsl(19deg 96% 61%) 30%,
    hsl(357deg 100% 67%) 40%,
    hsl(337deg 99% 60%) 51%,
    hsl(319deg 76% 54%) 62%,
    hsl(285deg 61% 55%) 72%,
    hsl(277deg 64% 55%) 81%,
    hsl(269deg 67% 55%) 88%,
    hsl(259deg 70% 56%) 95%,
    hsl(247deg 72% 56%) 100%
  );
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: var(--font-size-base);
}
