@import "tailwindcss";

@theme {
  /*Custom Colors*/
  --color-white: #f4f4f4;
  --color-gray: #a5a5a5;
  --color-darkGray: #646464;
  --color-black: #111111;
  --color-purple: #533fe0;
  --color-pink: #af47d2;
  --color-orange: #fb773c;
  --color-yellow: #ffd35a;
}
:root {
  --background: var(--color-black);
  --foreground: var(--color-white);
  --font-size-base: clamp(1.25rem, 2vw, 1.25rem);

  /* Custom font sizes */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: clamp(1.25rem, 2vw, 2rem);
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: clamp(2rem, 2vw, 2.25rem);
  --text-5xl: clamp(2.5rem, 2vw, 3rem);
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: clamp(4rem, 10vw, 6rem);
  --text-9xl: clamp(6rem, 10vw, 8rem);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: var(--font-size-base);
}
